#wpcontent {
    overflow: auto;
}

#nightfury-customize-admin-menu {
    margin-top: 40px;
}

#nightfury-customize-admin-menu .tab-content {
    padding-top: 30px;
}

#nightfury-customize-admin-menu .tab-content table tr td {
    font-size: 12px;
}

#nightfury-customize-admin-menu table tr td:last-child span{
    color: #d14233;
    cursor: pointer;
}

.customize-form {
    padding: 0px;
}
